:root {
  --brand-color: #2196F3;
  --color-secondary: #AFB1B8;
  --background-base-color: #FFFFFF;
  --background-color-primary: #F5F4FA;
  --background-color-secondary: #2F303A;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-invert: #FFFFFF;
  --line-height-114: calc(16 / 14);
  --line-height-117: calc(42 / 36);
  --line-height-118: calc(19 / 16);
  --line-height-119: calc(31 / 26);
  --line-height-125: calc(20 / 16);
  --line-height-136: calc(60 / 44);
  --line-height-156: calc(28 / 18);
  --line-height-162: calc(26 / 16);
  --line-height-171: calc(24 / 14);
  --line-height-188: calc(30 / 16);
  --transition-duration-hover: 250ms;
  --transition-timing-hover: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-base-color);
  color: var(--text-color-primary);
  font-family: Roboto, sans-serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

/* logo */
.footer .studio-logo, 
.header .studio-logo {
  font-family: Raleway, Oleo Script, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height-119);
  letter-spacing: 0.03em;
}

.header .studio-logo {
  color: var(--text-color-primary);
}

.footer .studio-logo {
  display: inline-block;
  color: var(--text-color-invert);
  margin-bottom: 20px;
}

.web-logo {
  color: var(--brand-color);
}

/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--line-height-114);
  letter-spacing: 0.02em;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav a {
  color: var(--text-color-primary);
  transition: color var(--transition-duration-hover) var(--transition-timing-hover);
}

.site-nav .active {
  position: relative;
  color: var(--brand-color);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--brand-color);
}

.contacts-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.mail-icon {
  display: inline-block;
  margin-right: 10px; 
  width: 16px;
  height: 12px;
  align-items: center;
  fill: currentColor;
}

.tel-icon {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  align-items: center;
  fill: currentColor;
}

.nav-contacts {
  display:flex;
  color: var(--text-color-secondary);
  transition: color var(--transition-duration-hover) var(--transition-timing-hover);
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--brand-color);
}

/* Main Content */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: var(--line-height-117);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* hero-section */
.hero {
  background-color: var(--background-color-secondary);
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/studio-hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero > .container {
  width: 696px;
  text-align: center;
}

.hero-section-title {
  color: var(--text-color-invert);
  font-weight: 900;
  font-size: 44px;
  line-height: var(--line-height-136);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  border-radius: 4px;
  background-color: var(--brand-color);
  padding: 10px 32px;
  color: var(--text-color-invert);
  font-weight: 700;
  font-size: 16px;
  line-height: var(--line-height-188);
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* features-section */
.features-list {
  display: flex;
  gap: 30px;
}

.features-list div[class$=icon-box] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-color-primary);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list svg[class$=icon] {
  width: 70px;
  height: 70px;
}

.features-title {
  font-size: 14px;
  line-height: var(--line-height-114);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  width: 270px;
  color: var(--text-color-secondary);
  font-size: 14px;
  line-height: var(--line-height-171);
  letter-spacing: 0.03em;
}

/* projects-section */
.projects.section {
  padding-top: 0;
}

.projects-list {
  display: flex;
  gap: 30px;
}

.project-link {
  position: relative;
}

.project-title {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-color-invert);
  font-size: 14px;
  line-height: var(--line-height-114);
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* team-section */
.team {
  background-color: var(--background-color-primary);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-thumb {
  width: 270px;
  background-color: var(--text-color-invert);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height-118);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: var(--line-height-118);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  transition-property: color, background-color, border-radius;
  transition-duration: var(--transition-duration-hover);
  transition-timing-function: var(--transition-timing-hover);
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--text-color-invert);
  background-color: var(--brand-color);
  border-radius: 50%;
}

.team-social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* clients-section */
.clients-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.clients-link { 
  display: flex;
  width: calc((1200px - 5*30px - 2*15px) / 6);
  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--transition-duration-hover);
  transition-timing-function: var(--transition-timing-hover);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.clients-icon {
  display: inline-block;
  fill: currentColor;
}

/* portfolio-page */
.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-primary);
  padding: 6px 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: var(--line-height-162);
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration-hover);
  transition-timing-function: var(--transition-timing-hover);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--brand-color);
  color: var(--text-color-invert);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.portfolio-thumb {
  position: relative;
  border: 1px solid #EEEEEE;
  transition: box-shadow var(--transition-duration-hover) var(--transition-timing-hover)
}

.portfolio-thumb-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-color-invert);
  font-size: 18px;
  line-height: var(--line-height-156);
  letter-spacing: 0.03em;
  transform: translateY(0);
  transition: transform var(--transition-duration-hover) var(--transition-timing-hover);
}

.portfolio-thumb:hover,
.portfolio-thumb:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb:hover .portfolio-text-overlay,
.portfolio-thumb:focus .portfolio-text-overlay {
  transform: translateY(-100%);
}

.portfolio-content {
  padding: 20px 24px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-top: 4px;
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: var(--line-height-188);
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: var(--background-color-secondary);
  padding: 60px 0;
}

.footer > .container {
  display:flex;
  gap: 70px;
}

.contacts a {
  display:inline-block;
  color: var(--text-color-invert);
  font-size: 14px;
  line-height: var(--line-height-171);
  letter-spacing: 0.03em;
}

.contacts .contacts-link {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer .title {
  margin-top: 12px;
  font-size: 14px;
  line-height: var(--line-height-114);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-invert);
  margin-bottom: 20px;
}

.footer .social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer .social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color-invert);
  border-radius: 50%;
  transition-property: color, background-color, border-radius;
  transition-duration: var(--transition-duration-hover);
  transition-timing-function: var(--transition-timing-hover);
}

.footer .social-link:hover,
.footer .social-link:focus {
  color: var(--text-color-invert);
  background-color: var(--brand-color);
  border-radius: 50%;
}

.footer .social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscribe {
  display: block;
  margin-left: auto;
  width: 570px;
  height: 86px;
}

.subscribe-form {
  display: flex;
  gap: 12px;
  align-items: center;
}

.yourmail input {
  width: 358px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: var(--line-height-125);
  letter-spacing: 0.03em;
  padding: 0 0 0 16px;
}

button[type="submit"] {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px auto;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--line-height-188);
  letter-spacing: 0.06em;
  color: var(--text-color-invert);
}

.footer .subscribe-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity var(--transition-duration-hover) var(--transition-timing-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -30%) scale(0);
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-base-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration-hover);
  transition-timing-function: var(--transition-timing-hover);
  padding: 40px;
}

.modal .title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-item {
  position: relative;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: var(--line-height-117);
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-duration-hover) var(--transition-timing-hover);
}
 
.form-icon {
 position: absolute;
 left: 12px;
 bottom: 11px;
 width: 18px;
 height: 18px;
 fill: currentColor;
}

.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--brand-color);
}

.comment .form-input {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: var(--line-height-117);
  letter-spacing: 0.01em;
}

.contract {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  width: 425px;
  font-size: 14px;
  line-height: var(--line-height-171);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
  margin-bottom: 30px;
}

.contract-text {
  outline: none;
  color: var(--brand-color);
  text-decoration: underline;
}

.form-check,
.form-check:focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip:rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 14px;
  background-color: var(--background-base-color);
  border: 2px solid var(--text-color-primary);
  border-radius: 2px;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  opacity: 0;
  transition: opacity var(--transition-duration-hover) var(--transition-timing-hover);
}

.form-check:checked ~ .check-icon {
  opacity: 1;
  z-index: 1;
}

.form-check:checked ~ .check {
  visibility: hidden;
}

.modal .send {
  display: block;
  margin: auto;
  transition: background-color var(--transition-duration-hover) var(--transition-timing-hover);
}

.modal .send:hover {
  background-color: #188CE8;
  cursor: pointer;
} 

.modal .send:focus {
  background-color: #188CE8;
  outline: none;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-base-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn-icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: #000000;
}

.close-btn:focus {
  outline: none;
}
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--brand-color);
  cursor: pointer;
}