  /* Team Section */
.clients__item {
  height: 92px;
  width: calc((100% - (1*30px))/2);
  @media screen and (min-width: 768px) {
    width: calc((100% - (2*30px))/3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - (5*30px))/6);
  }
}
  
.clients__link {
  @extend %link-icon;
  border: 1px solid $color-secondary;
  border-radius: 4px;
  color: $color-secondary;
  @include transition(border-color);

  &:hover,
  &:focus {
    outline: none;
    color: $brand-color;
    border-color: $brand-color;
  }
}

.clients__icon {
  fill: currentColor;
}