  /* Team Section */
.clients__item {
  height: 92px;
  width: calc((100% - (5*30px))/6);

  @media screen and (max-width: 1199px) {
    width: calc((100% - (2*30px))/3);
  }

  @media screen and (max-width: 767px) {
    width: calc((100% - (1*30px))/2);
  }
}
  
.clients__link {
  @import '../components/link-icon';

  &:hover,
  &:focus {
    outline: none;
    color: $brand-color;
    border-color: $brand-color;
  }
}

.clients__icon {
  fill: currentColor;
}