  /* Features Section */
.features__thumb {
  font-size: 14px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - (1*30px))/2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - (3*30px))/4);
  }
}

.features__iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: $bg-color-secondary;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 30px;
  line-height: $lh-114;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  color: $txt-color-secondary;
  line-height: $lh-171;
}
