/* features-section */
  .features__thumb {
    width: 270px;
    font-size: 14px;
 /* letter-spacing: 0.03em; */    
  }

/* .features__list {
    display: flex;
    gap: 30px;
  } */

  .features__iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: $bg-color-secondary;
    border-radius: 4px;
  }

  .features__icon {
    width: 70px;
    height: 70px;
  }

  .features__title {
    margin-top: 30px;
    line-height: $lh-114;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .features__text {
    color: $txt-color-secondary;
    line-height: $lh-171;
  }