/* footer */
 /* @import 'social-link'; */
 /* @import 'button'; */

  .footer {
    background-color: $bg-color-invert;
    color: $txt-color-invert;
    padding: 60px 0;
  }
  
  .footer__container {
    display:flex;
    justify-content: space-between;
    gap: 70px;
  }
  
  .footer__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

/* .contacts__list {
    margin-top: 20px;
  }
  
   .contacts__item {
    margin-top: 9px;
  } */
  
  .contacts__link {
 /* color: rgba(255, 255, 255, 0.6); */
    color: currentColor;
    opacity: 0.6;
    font-size: 14px;
    line-height: $lh-171;
 /* letter-spacing: 0.03em; */
  }
  
  .contacts__link--opacity {
    opacity: 1;
  }
  
  .footer-section__title {
    margin-top: 12px;
    font-size: 14px;
    line-height: $lh-114;
    text-transform: uppercase;
 /* margin-bottom: 20px; */
  }
  
  .social {
    flex-grow: 1;
  }

 /* @import 'social-link'; */
/* .social__link {
    *//* margin-top: 20px; *//*
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $color-secondary;
    transition-property: color, background-color, border-radius;
    transition-duration: $transition-duration-hover;
    transition-timing-function: $transition-timing-hover;
  } */
  
  .subscribe__form {
 /* margin-top: 20px; */
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .subscribe__input {
    width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $bg-color-invert;
 /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
    color: currentColor;
    font-size: 16px;
    line-height: $lh-125;
    padding: 0 0 0 16px;
  }
  
 /* @import 'button'; */
/* .btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $brand-color;
    color: $txt-color-invert;
    font-weight: 700;
    font-size: 16px;
    line-height: $lh-188;
    letter-spacing: 0.06em;
    padding: 10px auto;
  }
  
  .btnSubmit:focus,
  .btnSubmit:hover {
    cursor: pointer;
    outline: none;
  } */

  .subscribe__btnSubmit {
    gap: 10px;
  }
  
  .subscribe__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }