  /* Footer */
.footer {
  background-color: $bg-color-invert;
  color: $txt-color-invert;
}
  
.footer__container {
  display:flex;
  gap: 60px;
  justify-content: center;

  @media screen and (max-width: 767px) {   
    flex-direction: column;
    align-items: center;
  }
  
    @media screen and (min-width: 768px) {   
      flex-wrap: wrap;
      column-gap: 165px;
  }

  @media screen and (min-width: 1200px) {   
    gap: 70px;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1200px) {   
    align-items: flex-start;
  }
}

.footer-section__title {
  font-size: 14px;
  line-height: $lh-114;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {   
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {   
    text-align: left;
    margin-top: 12px;
  }
}
.contacts {
  width: 232px;
}
  
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 9px;

  @media screen and (max-width: 1199px) { 
    // gap: 8px;
    text-align: center;
  }
}

.contacts__link {
  color: currentColor;
  opacity: 0.6;
  font-size: 14px;
  line-height: $lh-171;
   
  &--opacity {
    opacity: 1;
  }
}

.social {
  width: 206px;
}

/* .social__link {
@import '../components/social-link';
} */
 
.subscribe__form {
  display: flex;
  gap: 12px;
  justify-content: center;

  @media screen and (max-width: 1199px) {   
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
   
  .subscribe__input {
    @media screen and (min-width: 480px) {   
      width: 450px;
    }
    @media screen and (min-width: 1200px) {   
      width: 358px;
    }

    width: calc(100vw - 18px - 30px);
    height: 50px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $bg-color-invert;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
    color: currentColor;
    font-size: 16px;
    line-height: $lh-125;
    padding: 0 0 0 16px;
  }
   
  // .subscribe__btnSubmit {
  //   gap: 10px;
  //   // @media screen and (max-width: 1199px) {   
  //   //   gap: 10px;
  //   // }
  // }
   
  .subscribe__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }