/* header */
  .header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    font-weight: 500;
    font-size: 14px;
    line-height: $lh-114;
    letter-spacing: 0.02em;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 93px;
  }
  
  .site-nav {
    display: flex;
    gap: 50px;
    flex-grow: 1;
  }
  
  .site-nav__link {
    color: $txt-color-primary;
    @include transition(color);
 /* transition: color $transition-duration-hover $transition-timing-hover; */
  }
  
  .site-nav__link:hover,
  .site-nav__link:focus {
    outline: none;
    color: $brand-color;
  }
  
  .site-nav__link--current {
    position: relative;
    color: $brand-color;
  }
  
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;
    background-color: $brand-color;
    border-radius: 2px;
  }
  
  .contacts-nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .contacts-nav__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $txt-color-secondary;
    @include transition(color);
 /* transition: color $transition-duration-hover $transition-timing-hover; */
  }
  
  .contacts-nav__link:hover,
  .contacts-nav__link:focus {
    outline: none;
    color: $brand-color;
  }
  
  .contacts-nav__icon {
    display: inline-block;
    fill: currentColor;
  }