  /* Team Section */
.team__section {
  background-color: $bg-color-secondary;
}

.team__thumb {
  background-color: $txt-color-invert;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - (1*30px))/2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - (3*30px))/4);
  }
}

.team__content {
  padding: 30px 0;
  font-size: 16px;
  line-height: $lh-118;
  text-align: center;
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  color: $txt-color-secondary;
  margin-bottom: 16px;
}

 /* .social__link {
  @import '../components/social-link';
 } */