  /* buttons */

  /* Hero Button */
.hero__btn {
  @extend %button;
  box-shadow: none;
  display: block;
  margin: auto;
  // width: 216px;
  // padding: 10px 32px;
}

  /* Submit Button */
.btnSubmit {
  @extend %button;

  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
  }
}

  /* Button Close */
.btnClose {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 30px;
  // height: 30px;
  background-color: $bg-color-primary;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 5px;

  &__icon {
    width: 18px;
    height: 18px;
    fill: #000000;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $brand-color;
    cursor: pointer;
  }
  
  &:focus {
    outline: none;
  }
}

  /* Button Menu Toggle */
.btnMenu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  // width: 40px;
  // height: 40px;
  border: none;
  background-color: transparent;
  
  @media screen and (min-width:768px) {
    display: none;
  }

  &__icon {
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // height: 100%;
    width: 24px;
    height: 24px;
    fill: #000000;
    background-color: transparent;
    border: none;
    // z-index: 9;

    // & .icon-close {

    // }
    
    &:hover,
    &:focus {
      fill: $brand-color;
      cursor: pointer;
    }
    
    &:focus {
      outline: none;
    }
  }
}
