/* logo */
  .logo {
    font-family: Raleway, Oleo Script, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: $lh-119;
 /* letter-spacing: 0.03em; */
    color: $brand-color;
  }

  @mixin logo-color($logoColor) {
    color: $logoColor;
  }

  .logo--dark {
    @include logo-color($txt-color-primary);
  }

  .logo--light {
    @include logo-color($txt-color-invert);
  }

  .logo:hover,
  .logo:focus {
    outline: none;
  }