  /* logo */
@mixin logo-color($logoColor) {
  color: $logoColor;
}

.logo {
  color: $brand-color;
  font-family: Raleway, Oleo Script, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: $lh-117;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: $lh-119;
    text-align: left;
  } 
 
  &--dark {
    @include logo-color($txt-color-primary);
  }

  &--light {
    @include logo-color($txt-color-invert);
  }

  &:hover,
  &:focus {
    outline: none;
  }
}