  /* social-link */
.social__item {
  width: 44px;
  height: 44px;
}

.social__list {
  display: flex;
  gap: 10px;
  justify-content: center
}

.social__link {
  @extend %link-icon;
  border-radius: 50%;
  background-color: $bg-color-primary;
  color: $color-secondary;
  @include transition(background-color);

  // &--invert {
  //   // background-color: rgba(255, 255, 255, 0.1);
  //   // color: $txt-color-invert;
  // }
    
  &:hover,
  &:focus {
    outline: none;
    background-color: $brand-color;
    color: $txt-color-invert;
  }
}
  
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}