$transition-duration-hover: 250ms;
$transition-timing-hover: cubic-bezier(0.4, 0, 0.2, 1);

$brand-color: #2196F3;
$color-secondary: #AFB1B8;
$bg-color-primary: #FFFFFF;
$bg-color-secondary: #F5F4FA;
$bg-color-invert: #2F303A;
$txt-color-primary: #212121;
$txt-color-secondary: #757575;
$txt-color-invert: #FFFFFF;

$lh-114: 16 / 14;
$lh-117: 42 / 36;
$lh-118: 19 / 16;
$lh-119: 31 / 26;
$lh-125: 20 / 16;
$lh-136: 60 / 44;
$lh-156: 28 / 18;
$lh-162: 26 / 16;
$lh-171: 24 / 14;
$lh-188: 30 / 16;
