$transition-duration-hover: 250ms;
$transition-timing-hover: cubic-bezier(0.4, 0, 0.2, 1);

$brand-color: #2196F3;
$color-secondary: #AFB1B8;
$bg-color-primary: #FFFFFF;
$bg-color-secondary: #F5F4FA;
$bg-color-invert: #2F303A;
$txt-color-primary: #212121;
$txt-color-secondary: #757575;
$txt-color-invert: #FFFFFF;

$lh-114: calc(16 / 14);
$lh-117: calc(42 / 36);
$lh-1175: calc(47 / 40); /*1.175*/
$lh-1176: calc(40 / 34); /*1.1764705882*/
$lh-1178: calc(33 / 28); /*1.1785714286*/
$lh-118: calc(19 / 16);
$lh-122: calc(22 / 18);
$lh-119: calc(31 / 26);
$lh-125: calc(20 / 16);
$lh-136: calc(60 / 44);
$lh-156: calc(28 / 18);
$lh-1615: calc(42 / 26); /*1.6153846164*/
$lh-162: calc(26 / 16);
$lh-171: calc(24 / 14);
$lh-188: calc(30 / 16);